<div class="container mx-auto text-center text-white">
  <h1 class="text-center my-4">Manage <%= @party.name %></h1>
  <hr>
<%# <%= link_to "Next", reset_all_buzzers, data: { turbo_method: :patch } %>
      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pointsManager">
    Launch static backdrop modal
  </button>

  <%=render 'modal' %>

  <div class="align-items-end">
    <button class="btn btn-primary rounded-pill fs-3 px-3"> Next round ! </button>
  </div>
</div>
