<h1 id="party"><%= @party.name %></h1>

<div data-controller="manager" data-action="click->manager#scoring">
  <button>+1</button>
  <button>+2</button>
  <button>Bonus</button>
  <button>Malus</button>

</div>



  <%= button_to "Next Try", next_try_party_path(@party.name), method: :patch, remote: true, id:"next-try" %>
  <%= button_to "Next Round", next_round_party_path(@party.name), method: :patch, remote: true, id:"next-round" %>
