<h1 id="party-name"><%= @party.name %></h1>

<div class="scoreboard-container">
  <table class="scoreboard" id="score-list">
    <thead>
      <tr>
        <th>#</th>
        <th>Group</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody id="score-rows">
      <!-- Dynamic rows will be inserted here -->
    </tbody>
  </table>
</div>
