<h1><%= @party.name %></h1>

<div>
  <table>
    <tr>
      <th>"#"</th>
      <th>Group</th>
      <th>Points</th>
    </tr>
    <% @ranked_groups.each_with_index do |group, index| %>
      <tr>
          <td><%= index + 1 %></td>
          <td><%= group.name %></td>
          <td><%= group.score %></td>
      </tr>
    <% end %>
    </tr>
  </table>
</div>
