<h1><%= @group.name %></h1>

<hr>

<div data-controller="hello">
  <h2 data-hello-target="value"><%= @buzz.clicked %></h2>

  <%= button_to "Buzz", party_group_buzz_path(params[:party_name], @group.name, @buzz.id), method: :patch, data: { target: "buzzer"} %>

</div>
