<div class="container-fluid mt-5 text-center text-white">
  <div class="d-inline-flex">
    <h1><%= @group.name %></h1>
    <%=  image_tag image_path("avatars/#{@group.avatar.filename}"), class:"mx-5 avatar-large"%>
  </div>
  <%= button_to buzz_path(@buzz.id), data: { id: @buzz.id, clicked: @buzz.clicked, clickable: @buzz.clickable }, method: :patch, id:"buzz_button", style:"background: none; border: none" do %>
    <%= inline_svg_tag "buzzer.svg", alt: "Buzzer", class:"buzz" %>
  <% end %>

</div>
