.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-selector {
  max-height: 60px;
  min-height: 60px;
  min-width: 60px;
  max-width: 60px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
  object-fit: cover;

}

.avatar-selector.selected {
  border: 5px solid rgb(217, 0, 0);
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-xl {
  width: 40vw;
  max-width: 40vw;
  border-radius: 0 0 50% 50%;
  object-fit: fill;
}

.avatar-xl.green {
  filter: drop-shadow(0 0 2rem rgb(2, 219, 74));
}

.avatar-xl.red {
  filter: drop-shadow(0 0 0.75rem rgb(248, 0, 0));
}
